.nav-bar-container {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightblue;
    padding: 20px; 
    display: flex;  
    justify-content: flex-start;
    font-size: 20px; 
}
.nav-bar {
    margin: 0 50px;
}
.nav-bar-container a:hover {
    background-color: lime;
}
.footer-container {
    background-color: lightgreen;
    display: flex;
    justify-content: space-around;
}
.footer {
    width: 25%;
}
.text-bold {
    font-weight: bold;
}
.text-center {
    text-align: center;
    background-color: lightgreen;
    margin: 0px;
    height: 60px;
    padding-top: 30px;
}
img {
    width: 450px;
    height: 450px;
    margin-top: 50px;
}
.font-size {
    font-size: 35px;
}
.product-detail-container {
    display: flex;
    margin: 60px 0;
    padding: 0 10%;
}
.product-display {
    width: 70%;
    text-align: center;
    margin-right: 100px;
}
.detail-display {
    width: 30%;
    margin-left: 100px;
}
.text-center1 {
    text-align: center;
}
button {
    width: 200px; 
    height: 70px; 
    margin: 0 85px; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 20px;
}